body {
    background-color:wheat;
    color: #333333;
    font-family: Roboto, sanf-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color:steelblue;
    color:aliceblue;
    padding: 20px;
    text-align: center;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-family: Bona Nova SC, serif;;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
 nav ul li {
    display: inline;
    margin-right: 20px;
 }

 nav ul li a {
    text-decoration:none;
    color:aliceblue
 }

 section {
    padding: 50px;
 }

 h2 {
    font-size: 24px;
    font-weight: bold;
    color:#333333
 }

 img {
    border-radius: 50%;
    width: 400px;
 }

 img:hover {
    transform: translateY(-10px);
 }

 .experience-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex: wrap;
    gap: 20px;

    
 }

 .experience-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
 }

 .experience-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #333333;
    text-decoration: none;
}

 a:hover {
    color:lightsalmon;
} 

.social {
    text-align: center;;
    color:#333333;
    padding-bottom: 25px;
}

.social a {
    font-size: 30px;
    color:midnightblue;
    text-align: center;;
    display: inline-block;
}
